<div class="container">
    <h1>確認</h1>
    <div class="user-info">
        <span class="user-image">
            <%= image_tag("#{@user.tmp_profile_file_path}") %>
        </span>
        <span class="user-name">
            <%= @user.name%>
        </span>
    </div>
    <div class="user-input">
        <p>生年月日</p>
        <span>
            <%= @year %>年
        </span>
                <span>
            <%= @month %>月
        </span>
         <span>
            <%= @day %>日
        </span>
    </div>        
    <%= button_to "登録", confirm_registrations_path(name: @user.name, year: @year, month: @month, day: @day), method: :post, class: "btn-confirm" %>
    <%= button_to "戻る", confirm_registrations_path, method: :get, class: "btn-return" %>
</div>