<div class="container">
    <h1>新規登録</h1>
    <div class="user-info">
        <span class="user-image">
            <%= image_tag("#{@user.tmp_profile_file_path}") %>
        </span>
        <span class="user-name">
            <%= @user.name%>
        </span>
    </div>
    <div class="user-input"> 
        <p>生年月日</p>
        <%= form_with url: confirm_registrations_path, method: :get do |form| %>
            <span>
                <%= form.hidden_field :line_user_id, value: @user.line_user_id %>
                <%= form.hidden_field :name, value: @user.name %>
                <%= form.hidden_field :provider, value: @user.provider %>
                <%= form.hidden_field :tmp_profile_file_path, value: @user.tmp_profile_file_path %>
            </span>
            <div>
                <%= form.number_field :year, required: true, placeholder: "1990", min: 1990, max: 2999, class: "input" %> 年
                <%= form.number_field :month, required: true, placeholder: "10"  , min: 1, max: 12, class: "input"  %> 月
                <%= form.number_field :day, required: true,   placeholder: "8",    min: 1, max: 31, class: "input"  %> 日
            </div>
            <%= form.submit "確認" , class: "btn-confirm"%>
        <% end %>
    </div>        
</div>
